<nav>
	<div class="nav-wrapper">
		<div class="col s12">
      <%= link_to 'Home', {controller: 'welcome'}, class: 'breadcrumb'%>
      <%= link_to 'Patrocinadores', clientes_path, class: 'breadcrumb'%>
      <%= link_to 'Nova Conta' , new_cliente_path(@cliente), class: 'breadcrumb'%>
		</div>
	</div>
</nav>

<div class="section no-pad-bot">
	<div class="container">
		<div class="section white">
<h1>Preencha o Formulário</h1>
<%= render "form" %>
</div>
</div>
</div>
