<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="section white">
      <h2 class="header center green-text text-darken-3">Zelda Equestrian Sword</h2>
      <div class="row center">
        <h5 class="header col s12 light">A place to put the story</h5>
      </div>
      <div class="row center">
        <%= link_to 'Conheça nossos patrocinadores', clientes_path, class: 'btn-large #02AEDE waves-effect waves-light'%>
      </div>
    </div>
    <br><br>

  </div>
</div>
