<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <div class="section white">
      <h2 class="header center green-text text-darken-3">Zelda Equestrian Sword</h2>
      <div class="row center">
        <h5 class="header col s12 light">Somos uma equipe de defensores do reino criada para impedir o avanço de uma grande força maligna que agora se manifesta. Contudo, precisaremos da sua ajuda para vencê-la. Após um longo período de paz, Ganon apareceu novamente no reino. Dessa vez, ele está em posse da Triforce do Poder e fará de tudo para obter as outras duas. A Triforce da Sabedoria está sendo guardada pela princesa Zelda. Entretanto, para se apossar da Triforce da Coragem, Ganon só precisa vencer o Grande Torneio Celestial de Hipismo, organizado pelo detentor da Triforce da Coragem. Dessa forma, nossa missão é montar um time de hipismo que possa vencer o torneio e finalmente derrotar Ganon.<br> O problema é que o reino passa por dificuldades financeiras, sendo incapaz de patrocinar um local de treino, comprar as rações para os cavalos do torneio e, o principal, pagar pessoas que possam encontrar Link, um dos maiores atletas do reino que está desaparecido desde o último encontro dele com a princesa. Assim, chamamos os civis para salvar o reino, sem sair do sofá, ao comprar nossos pacotes de patrocinador e apoiar a luta contra Ganon. Nós os convocamos para demonstrar sua devoção pelos ídolos de Hyrule, por meio dos pacotes "fã de Link" e "fã de Zelda" ou erguer o time que salvará o país com o pacote "fanático pelo time". Inscrevam-se! Hyrule precisa de vocês!</h5>
      </div>
      <div class="row center">
        <%= link_to 'Conheça nossos patrocinadores', clientes_path, class: 'btn-large #02AEDE waves-effect waves-light'%>
      </div>
    </div>
    <br><br>

  </div>
</div>
