  <p>
    <strong>Pagamento:</strong>
    <%= pacote.Pagamento %>
  </p>
 
  <p>
    <strong>Plano:</strong>
    <%= pacote.Plano %>
  </p>
  <p>
    <%= link_to 'Cancelar pacote', [pacote.cliente, pacote],
      method: :delete,
      data: { confirm: 'Tem certeza?'}  %>
  </p>
